vim/vim.symlink/.netrwhist
git/gitconfig.symlink
*.pid
.DS_Store
vim/vim.symlink/bundle/
config/config.symlink/fish/fish_history
config/config.symlink/nvim/plugged/
config/config.symlink/nvim/undodir/
config/config.symlink/nvim/backup/
