<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/Users/abrausch/.config/MonoDevelop/repository-cache/monodevelop.com_0.mrep</File>
      <Url>http://monodevelop.com/files/addins/2.2/main.mrep</Url>
      <Name>monodevelop.com</Name>
      <LastModified>1900-01-01T00:00:00.0000000+01:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>true</IsReference>
      <File>/Users/abrausch/.config/MonoDevelop/repository-cache/monodevelop.com_1.mrep</File>
      <Url>http://monodevelop.com/files/addins/2.2/root.mrep</Url>
      <Name>monodevelop.com</Name>
      <LastModified>1900-01-01T00:00:00.0000000+01:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>2</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>